{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-3">Welcome to Silsia Motel and Mini Restaurant</h1>
            <p>Step into the world of Silsia Motel and Mini Restaurant, my lifelong dream project. I'm thrilled to extend a warm welcome to you and share the story behind this charming establishment.</p>

            <h2>A Dream Realized</h2>
            <p>Silsia Motel is the culmination of a lifelong dream. Inspired by a passion for hospitality and the encouragement of a dear friend, Mr. Clark, I embarked on this journey to create a haven of comfort and culinary delight.</p>

            <p>Mr. Clark, your unwavering support and belief in this dream have been a driving force. Silsia Motel is a testament to your encouragement and our shared vision.</p>

            <h2>Your Home Away From Home</h2>
            <p>Our motel offers two exquisitely designed suites, each a labor of love. Every detail, from the cozy furnishings to the tranquil ambiance, has been carefully curated to ensure your comfort and relaxation.</p>

            <h2>Culinary Excellence</h2>
            <p>Our mini restaurant is a culinary haven. Our talented chefs craft dishes that fuse flavors and ingredients to create memorable dining experiences. From hearty breakfasts to leisurely brunches, we invite you to savor the artistry of our kitchen.</p>

            <h2>Exceptional Hospitality</h2>
            <p>At Silsia Motel, we take pride in offering exceptional hospitality. Your satisfaction is our top priority, and we're committed to providing you with a memorable stay.</p>

            <h2>Book Your Escape</h2>
            <p>We invite you to book a stay and experience the warmth of Silsia Motel. Whether you're seeking a romantic getaway or a peaceful retreat, Silsia is your home away from home.</p>

            <h2>Join Us</h2>
            <p>Come and be a part of our dream project. Experience the culmination of passion, dedication, and the warmth of hospitality. We can't wait to welcome you to Silsia Motel and Mini Restaurant.</p>

            <h2>Your Journey Begins</h2>
            <p>Your journey begins at Silsia Motel, where dreams become reality, and guests become friends. Join us and embark on an unforgettable adventure of comfort and cuisine.</p>

            </div>
        </div>
    </div>
{{end}}
