{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Contact Us</h2>
            <p>If you have any questions or would like to get in touch, please feel free to reach out to me:</p>
            <ul>
                <li><strong>Name:</strong> Mohammed Salman</li>
                <li><strong>Email:</strong> mack000000sheikh@gmail.com</li>
                <li><strong>Phone:</strong> +918770441188</li>
            </ul>
            <p>We value your feedback and look forward to hearing from you. Your satisfaction is our priority.</p>


        </div>
    </div>
</div>
{{end}}